@font-face {
    font-family: 'DS-Digital Bold';
    src: url(../fonte/DS-DIGIB.TTF);
}

@font-face {
    font-family: 'DS-Digital';
    src: url(../fonte/DS-DIGI.TTF);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #000000;
    color: #ffffff;
    text-transform: uppercase;
    font-family: Verdana, Tahoma, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    height: 100vh;
    padding: 20px 50px;
}

#containerCheck {
    display: flex;
    gap: 50px;
    flex-direction: column;
    align-items: center;
}

.titulos {
    color: #ffa500;
    font-size: 4rem;
    text-align: center;
}

#containerCheck div {
    border: 2px solid #ffffff;
    border-radius: 10px;
    padding: 40px;
    display: grid;
    grid-template: auto / auto auto;
    gap: 20px;
}

input {
    width: 20px;
}

span {
    font-size: 0.8rem;
}

.botoes {
    text-align: center;
    padding: 10px 0;
    background-color: #ffa500;
    border: 1px solid #ffffff;
    border-radius: 10px;
    color: #000000;
    font-weight: bold;
    cursor: pointer;
}

#btn-ok {
    width: 100px;
    font-size: 1.2rem;
}

#containerTempo {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 7rem;
}

#cronometro {
    width: 650px;
    text-align: center;
    font-family: 'DS-Digital Bold';
    font-size: 15rem;
}

#btn-parar {
    width: 150px;
    font-size: 1.3rem;
}

#carregando {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    border: solid #ffa500 7px;
    border-top: solid #ffffff 7px;
    animation: load 1.5s linear infinite;
}

@keyframes load {
    0% {
        transform: rotate(0deg)
    }

    100% {
        transform: rotate(360deg);
    }
}

#containerSessao {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6rem;
}

#totalSessao {
    width: 900px;
    font-family: 'DS-Digital Bold';
    text-align: center;
    font-size: 10rem;
    border: 2px solid #ffa500;
    border-radius: 10px;
}

.btns-sessao {
    display: flex;
    gap: 40px;
}

.btns-sessao button,
#btn-novaSessao {
    width: 200px;
    font-size: 1.2rem;
}

#containerIntervalo {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6rem;
}

#timerIntervalo {
    width: 500px;
    text-align: center;
    font-family: 'DS-Digital Bold';
    font-size: 12rem;
}

#containerIntervalo button {
    width: 170px;
    font-size: 1.2rem;
}

#containerEncerrado {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6rem;
}

.totalEncerrado {
    width: 18rem;
    height: 13rem;
    border: 2px solid#ffffff;
    border-radius: 10px;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 45px;
}

.totalEncerrado p {
    text-align: center;
    font-size: 1rem;
    font-weight: bold;
}

@media screen and (max-width:1010px) {
    #totalSessao {
        width: 800px;
        font-size: 9rem;
    }
}

@media screen and (max-width:900px) {
    #containerSessao {
        gap: 4rem;
    }

    #containerSessao h1 {
        font-size: 3rem;
    }

    #totalSessao {
        width: 700px;
        font-size: 7.5rem;
    }
}

@media screen and (max-width:780px) {
    #cronometro {
        width: 550px;
        font-size: 13rem;
    }

    #containerSessao {
        gap: 3rem;
    }

    #containerSessao h1 {
        font-size: 2.5rem;
    }

    #totalSessao {
        width: 550px;
        font-size: 6.2rem;
    }
}

@media screen and (max-width:650px) {
    #cronometro {
        width: 450px;
        font-size: 11rem;
    }

    #totalSessao {
        width: 500px;
        font-size: 5.2rem;
    }

    .btns-sessao {
        display: flex;
        gap: 20px;
    }

    .btns-sessao button {
        width: 150px;
        font-size: 1rem;
    }
}

@media screen and (max-width:610px) {
    body {
        padding: 20px;
    }

    .titulos {
        font-size: 3rem;
    }

    #containerTempo {
        gap: 4.5rem;
    }

    #containerIntervalo {
        gap: 3rem
    }

    #timerIntervalo {
        width: 400px;
        font-size: 9rem;
    }

    #containerIntervalo button {
        width: 130px;
        font-size: 1rem;
    }

    #containerEncerrado {
        gap: 3rem;
    }
}

@media screen and (max-width: 550px) {
    #cronometro {
        font-family: 'DS-Digital';
        width: 400px;
        font-size: 9rem;
    }

    #btn-parar {
        width: 120px;
        font-size: 1.1rem;
    }

    #totalSessao {
        width: 400px;
        font-size: 4rem;
    }

    .btns-sessao button {
        width: 100px;
        font-size: 0.8rem;
    }

    #timerIntervalo {
        font-family: 'DS-Digital';
    }
}

@media screen and (max-width:485px) {
    body {
        padding: 10px 25px;
    }

    #containerCheck {
        gap: 25px;
    }

    .titulos {
        font-size: 2.5rem;
    }

    #btn-ok {
        width: 80px;
        font-size: 1.1rem;
    }

    #containerSessao {
        gap: 2.5rem;
    }

    #totalSessao {
        width: 350px;
        font-size: 3.5rem;
    }

    .btns-sessao {
        gap: 1rem;
    }

    #timerIntervalo {
        width: 350px;
        font-size: 8.2rem;
    }
}

@media screen and (max-width:450px) {
    #cronometro {
        width: 320px;
        font-size: 7rem;
    }

    #btn-parar {
        width: 100px;
        font-size: 1rem;
    }

    #totalSessao {
        width: 320px;
    }

    #timerIntervalo {
        width: 300px;
        font-size: 7.2rem;
    }

    .dadosContainer {
        width: 15rem;
        height: 12rem;
    }

    .dadosContainer p {
        font-size: 0.8rem;
    }

    #btn-novaSessao {
        width: 150px;
        font-size: 1rem;
    }
}

@media screen and (max-width:380px) {
    .titulos {
        font-size: 2rem;
    }

    #containerCheck div {
        padding: 25px 15px;
        gap: 12px;
    }

    input {
        width: 15px;
    }

    span {
        font-size: 0.6rem;
    }

    #btn-ok {
        width: 60px;
        font-size: 1rem;
    }

    #cronometro {
        width: 260px;
        font-size: 5.5rem;
    }

    #totalSessao {
        width: 300px;
        font-size: 3rem;
    }

    .btns-sessao button {
        width: 80px;
        font-size: 0.6rem;
    }

    .totalEncerrado {
        width: 14rem;
        height: 10rem;
        padding: 0 5px;
        gap: 30px;
    }

    .totalEncerrado p {
        font-size: 0.8rem;
    }
}

@media screen and (max-width: 350px) {
    #totalSessao {
        width: 250px;
        font-size: 2.5rem;
    }

    #timerIntervalo {
        width: 250px;
        font-size: 5rem;
    }

    #containerIntervalo button {
        width: 110px;
        font-size: 0.8rem;
    }
}

@media screen and (max-width:310px) {
    #cronometro {
        width: 230px;
        font-size: 4.5rem;
    }

    #btn-parar {
        width: 85px;
        font-size: 0.8rem;
    }

    .titulos {
        font-size: 1.7rem;
    }

    #containerSessao h1 {
        font-size: 2rem;
    }

    #timerIntervalo {
        width: 200px;
        font-size: 4rem;
    }

    #containerIntervalo button {
        width: 100px;
        font-size: 0.7rem;
    }
}

@media screen and (max-width:280px) {
    .titulos {
        font-size: 1.5rem;
    }

    span {
        font-size: 0.5rem;
    }

    #cronometro {
        width: 200px;
        font-size: 4rem;
    }

    #totalSessao {
        width: 200px;
        font-size: 2rem;
    }

    .totalEncerrado {
        width: 12rem;
        height: 9rem;
    }

    .totalEncerrado p {
        font-size: 0.7rem;
    }
}